div {
  padding-left: 20px;
  padding-bottom: 20px;
}

p, td {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.3em;
}

th {
  font-size: 1.5em;
  color: #ae1a09
}

.centered-text {
  text-align: center;
}

.two-column {
    display: flex;
    flex-direction: row;
    max-width: 90%;
}

@media all and (max-width: 768px) {
  .two-column {
    flex-direction: column;
  }
}
