
:root {
  --body-color: #ffffff;
  --head-color: #ef5350;
  --head-font-color: #3e3939;
  --button-color: #5bc0de;
  --input-color: #ead2d2;
  --error-color: #e3350d;
}

body {
  background-color: var(--body-color);
  margin-bottom: 20px;
}

button {
  background-color: var(--button-color);
}

label {
  color: var(--head-font-color);
  font-size: 1.25em;
}

#div-loading {
  text-align: center;
  display: none;
}

#div-loading img {
  width: 25%;
}

.small-loading {
  width: 15%;
}

#header {
  width: 100%;
  height: 60px;
  background: linear-gradient(var(--head-color), var(--input-color) );
  text-align: center;
  vertical-align: middle;
}

#header h2 {
  color: var(--head-font-color);
  margin-top: 14px;
}

#div-selection {
  width: 60%;
  margin: 15px auto;
  text-align: center;
}

#div-selection input {
  background-color: var(--input-color);
}

#div-title-bar {
  width: 98%;
  margin: 0px 5px 15px 5px;
  text-align: center;
  text-transform: capitalize;
  color: var(--head-font-color);
}

#div-title-bar button {
  margin: 15px 5px 0px 5px;
  width: 150px;
  font-size: 1.2em;
}

#title-text {
  font-size: 1.5em;
}

#div-content{
  width: 98%;
  margin: auto;
  display: none;
}

.row {
  margin: auto;
}

.two-columns {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 45%;
  margin-left: 2%;
  margin-right: 2%;
}

#div-sprites {
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  border-color: var(--head-font-color);
  background-color: #eee;
}

#div-sprites img {
  width: 45%;
}

#div-description {
  vertical-align: middle;
  height: 100%;
  width: 35%;
}

#div-characteristics {
  margin-top: 22px;
  background-color: #30a7d7;
  border-radius: 20px;
  padding-top: 10px;
}

.char-heading {
  color: #ffffff;
}

.weakness, .type {
  color: white;
  border-style: solid;
  border-width: thin;
  border-radius: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 4px 10px;
  text-align: center;
  text-transform: capitalize;
  background-color: #a4acaf;
  font-size: .85em;
  width: 85px;
}

.ability {
  text-transform: capitalize;
}

.bug {
  background-color: #729f3f;
}

.dark {
  background-color: #707070;
}

.dragon {
  background: linear-gradient(#53a4cf, #f16e57);
}

.electric {
  background-color: #eed535;
}

.fairy {
  background-color: #fdb9e9;
}

.fighting {
  background-color: #d56723;
}

.fire {
  background-color: #fd7d24;
}

.flying {
  background: linear-gradient(#3dc7ef, #bdb9b8)
}

.ghost {
  background-color: #7b62a3;
}

.grass {
  background-color: #9bcc50;
}

.ground {
  background: linear-gradient(#f7de3f, #ab9842);
}

.ice {
  background-color: #51c4e7;
}

.normal {
}

.poison {
  background-color: #b97fc9;
}

.psychic {
  background-color: #f366b9;
}

.rock {
  background-color: #a38c21;
}

.shadow {
  background-color: black;
}

.steel {
  background-color: #9eb7b8;
}

.unknown {
}

.water {
  background-color: #4592c4;
}

#div-stats {
  margin-top: 20px;
  text-align: center;
}

#div-stats table {
  background-color: var(--button-color);
  display: table;
  border-spacing: 2px;
  border-collapse: separate;
  text-align: center;
  margin: 1px auto;
}

#div-stats th {
  width: 80px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
}

.stat-hp {
  background-color: #ff5959;
}

.stat-attack {
  background-color: #f5ac78;
}

.stat-defense {
  background-color: #fae078;
}

.stat-special-attack {
  background-color: #9db7f5;
}

.stat-special-defense {
  background-color: #a7db8d;
}

.stat-speed {
  background-color: #fa92b2;
}

#div-error {
  text-align: center;
  width: 50%;
  margin: auto;
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--error-color);
  display: none;
}

#div-error label {
  color: var(--error-color);
}
