.invalidBox {
  border-color : red;
  border-width: thick;
}

body {
  border-style: solid;
  border-width: 3px;
  width: 50%;
  margin: 10px auto 10px auto;
  text-align: center;
}

div {
  padding-top: 10px;
}

#dynamic-boxes input[type='text'] {
  margin-top: 5px;
}

#math-buttons button {
  margin-left: 5px;
  margin-right: 5px;
  background-color: darkred;
  color: white;
}

label {
  margin-left: 5px;
  margin-right: 7px;
}

#math-result {
  font-size: 1.25em;
  text-decoration: underline;
  color: blue;
}
