
.dice-panel, .control-panel {
  margin: 10px auto;
  width: 90%;
  text-align: center;
}

.die-face {
  display: inline-block;
    width: 64px;
    height: 68px;
}

.die1 {
  background: url('../images/die_faces.png') -3px 0px  no-repeat;
}

.die2 {
  background: url('../images/die_faces.png') -69px 0px  no-repeat;
}

.die3 {
  background: url('../images/die_faces.png') -135px 0px  no-repeat;
}

.die4 {
  background: url('../images/die_faces.png') -135px -68px  no-repeat;
}

.die5 {
  background: url('../images/die_faces.png') -69px -68px  no-repeat;
}

.die6 {
  background: url('../images/die_faces.png') -3px -68px  no-repeat;
}
