:root {
  --head-color: #6699CC;
  --head-border-color: #476b8e;
  --head-hover-color: #517aa3;
  --body-background-color: #eff4f9;
  --table-hover-color: #b1b1b1;
  --menu-text-color: #d9d9d9;
}

body {
  max-width: 96%;
  margin: auto;
  background-color: var(--body-background-color);
}

.heading {
  background: var(--head-color);
  border: 3px solid var(--head-border-color);
  margin-top: 5px;
  margin-bottom: 20px;
}

.heading div {
  display: inline-block;
  height: 70px;
}

.logo img {
  padding-left: 50px;
  padding-top: 10px;
  float: left;
}

.menu {
  float: right;
}

.menu ul {
  float: left;
  list-style-type: none;
  margin: 0;
  padding-right: 70px;
  overflow: hidden;
}

.menu li {
  float: left;
  height: 70px;
}

.menu li a {
  color: var(--menu-text-color);
  display: block;
  padding-top: 25px;
  padding-right: 16px;
  padding-left: 16px;
  text-align: center;
  height: 60px;
}

.menu li a:hover {
  background-color: var(--head-hover-color);
}

.banner {
  border: 3px solid var(--head-border-color);
  height: 150px;
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
  background-image: url("../images/banner.png");
  background-size: cover;
}

.content {
  margin: 0 auto;
  text-align: center;
}

.school-box-container {
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.school-box {
  vertical-align: text-top;
  display: inline-block;
  margin: 0 25px;
}

.nondisplay {
  display: none;
}
.school-dropdown {
  text-align: center;
  margin: 10px auto;
  background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
  height: 34px;
  overflow: hidden;
  width: 240px;
  border: 1px solid var(--head-border-color);
}

.school-dropdown select {
   background: transparent;
   font-size: 16px;
   height: 34px;
   width: 268px;
   padding: 5px;
}

.school-dropdown select:focus {
   outline: 0;
}

.school-panel {
  background: linear-gradient(var(--head-color), var(--body-background-color));
  border: 3px solid var(--head-border-color);
  border-radius: 10px;
}

.school-name {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 1.25em;
  font-weight: bolder;
}

.school-image {
  text-align: center;
}

.school-image img {
  width: 250px;
  height: 140px;
}

.tuition-table table {
  margin: 10px;
  border: 2px solid var(--head-border-color);
  text-align: center;
  border-collapse: collapse;
}

.tuition-table td {
  padding-left: 4px;
  padding-right: 4px;
}

.tuition-table th {
  border-bottom: 1px solid var(--head-border-color);
  background-color: var(--head-color);
}

.tuition-table tr:hover {
  background-color: var(--table-hover-color);
}

.majors-list {
  padding-top: 10px;
  border: 3px solid var(--head-border-color);
  width: 85%;
  margin: auto auto 10px auto;
}

.majors-list label {
  font-size: 1.25em;
  font-weight: bolder;
}
.majors-list ol {
  text-align: left;
  margin-top: 5px;
  list-style: upper-roman;
}

.majors-list li:hover {
  background-color: var(--table-hover-color);
}

.contact-form {
  max-width: 60%;
  min-width: 40%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  text-align: center;
  font-weight: bold;
}

.contact-form fieldset {
  background: linear-gradient(var(--head-color), var(--body-background-color));
  border: 3px solid var(--head-border-color);
  border-radius: 10px;
}

.contact-form legend {
  text-align: left;
  font-weight: bold;
  font-size: 1.2em;
  background-color: var(--body-background-color);
  border: 1px solid var(--head-border-color);
  border-radius: 10px;
  padding: 0 10px;
}

.contact-form input {
  font-size: 1.05em;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 6px;
}

.contact-form input[type=button] {
  background-color: var(--head-color);
  color: var(--menu-text-color);
  padding: 10px;
  border: 1px solid var(--head-border-color);
  border-radius: 25px;
}

.contact-form input[type=button]:hover {
  background-color: var(--head-hover-color);
}

.contact-form input[type=button]:focus {
  outline: 0;
}

.contact-form input[type=button]:active {
  background-color: var(--head-border-color);
}

.contact-form textarea {
  font-size: 1.05em;
  margin-top: 10px;
  padding: 6px;
}


.contact-form-sub {
  vertical-align: top;
  text-align: left;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.footer {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  background: var(--head-color);
  border: 3px solid var(--head-border-color);
  height: 70px;
}

.footer .social-links {
  padding-top: 20px;
}
