.text-example {
  font-weight: bold;
  color: darkred;
  text-align: center;
}

.float-example {
  display: inline-block;
}

.float-left {
  width: 200px;
  height: 200px;
  color: #ffffff;
  background-color: red;
  float: left;
  margin: 20px;
}
.float-right {
  width: 200px;
  height: 200px;
  background-color: lightblue;
  float: right;
  padding: 20px;
}

.thick-blue-border {
  text-align: center;
  border-style: solid;
  border-color: blue;
  border-width: 5px;
}

.red-rounded-border {
  width: 30%;
  margin: auto;
  text-align: center;
  border-style: solid;
  border-color: red;
  border-width: 5px;
  border-radius: 25px;
}

.image-background {
  border-style: solid;
  margin: auto;
  width: 400px;
  height: 400px;
  background-image: url('https://goo.gl/WqGyG7');
}

.hover h3:hover {
  background-color: yellow;
  color: blue;
}

.active input {
  color: #ffffff;
  background: blue;
  border-radius: 4px;
  font-size: 1.5em;
}

.active input:active {
  background: black;
}

.focus input {
  margin-left: 10px;
  height: 25px;
}

.focus input:focus {
  background: aqua;
}

.checked input[type=checkbox] + label {
  color: darkgray;
  font-weight: bold;
  font-style: italic;
}
.checked input[type=checkbox]:checked + label {
  color: #f00;
  font-style: normal;
}

.media {
  width: 90%;
  background-color: darkred;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
}

@media screen and (max-width: 700px) {
  .media {
    background-color: lightblue;
  }
}

@media screen and (max-width: 500px) {
  .media {
    background-color: black;
    color: white;
    font-size: 1em;
    font-weight: normal;
  }
  .not-on-small {
    display: none;
  }
}
